<h1>Edit status below:</h1>

<div>
  <select name="active">
    <option value="true">true</option>
    <option value="false">false</option>
  </select>

  <input type="submit" name="submit" value="SUBMIT">
</div>
